{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}App{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container login_form">
    <h1>TestApp</h1>
    <form method="post">
        <div class="form-group">
            <input type="text"
                   name="login"
                   class="form-control"
                   id="exampleInputLogin"
                   aria-describedby="loginHelp"
                   autocomplete="off"
                   placeholder="login">
        </div>
        <div class="form-group">
            <input type="password"
                   name="password"
                   class="form-control"
                   id="exampleInputPassword1"
                   autocomplete="off"
                   placeholder="password">
        </div>
        <div class="form-group">
            <a href="/register">Register</a>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}